<div class="card <%= row._deleted ? "panel-deleted" : "" %>">

  <div class="card-header">
    <!-- Caption -->
    <b>
      <%- renderFieldTemplate(cckState.schema, 'name', ['tabularPresentationTemplate', 'presentationTemplate'], row) %>
      <span class="oi oi-chevron-down" rowId="<%= row.id %>"></span>
      <span class="oi oi-chevron-up" rowId="<%= row.id %>"></span>
    </b>
  </div>

  <div class="card-body">
    
    <!-- Parsed Description -->
    <div class="parsed-description-container">
      <%- renderFieldTemplate(cckState.schema, 'parsedDescription', ['tabularPresentationTemplate', 'presentationTemplate'], row) %>
    </div>

    <div class="small">
      <!-- Schedule -->
      <div class="schedule" from="<%- renderFieldTemplate(cckState.schema, 'scheduleFrom', ['tabularPresentationTemplate', 'presentationTemplate'], row) %>" to="<%- renderFieldTemplate(cckState.schema, 'scheduleTo', ['tabularPresentationTemplate', 'presentationTemplate'], row) %>"></div>

      <!-- Board -->
      <%- renderFieldTemplate(cckState.schema, 'board', ['tabularPresentationTemplate', 'presentationTemplate'], row) %>
      <!-- Tags -->
      <%- renderFieldTemplate(cckState.schema, 'tags', ['tabularPresentationTemplate', 'presentationTemplate'], row) %>
    </div>

  </div>

  <div class="card-footer">
    <% if (row._customHtmlComponents) { %>
      <%- row._customHtmlComponents %>
    <% } %>

    <!-- Detail Button -->
    <% if (isAuthorized(cckState.auth, cckState.schema.selectGroups)) { %>
      <a class="btn btn-secondary btn-sm button-detail" rowId="<%=row._id%>" href="/data/<%= cckState.schemaName %>/<%=row._id%>?_excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>&_q=<%= cckState.q %>&_k=<%= cckState.k %>">
        <span class="oi oi-file"></span>
      </a>
    <% } %>

    <!-- Update Button -->
    <% if (isAuthorized(cckState.auth, cckState.schema.updateGroups) && !row._restrictUpdate) { %>
      <a class="btn btn-secondary btn-sm button-update" rowId="<%=row._id%>" href="/data/<%= cckState.schemaName %>/update/<%=row._id%>?_excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>">
        <span class="oi oi-pencil"></span>
      </a>
    <% } %>

    <!-- Delete Button -->
    <% if (isAuthorized(cckState.auth, cckState.schema.deleteGroups) && !row._restrictDelete) { %>
      <a class="btn btn-secondary btn-sm button-delete" rowId="<%=row._id%>" href="/data/<%= cckState.schemaName %>/delete/<%=row._id%>?_excludeDeleted=<%= row._deleted ? 0 : 1%>&limit=<%= cckState.limit %>">
        <span class="oi oi-trash"></span>
      </a>
    <% } %>
  </div>

</div>